HOBO_CONFIG_PATH=./data/var/hoboapp/server.json
APP_ADDR=:8080
DATABASE_URL=postgres://hoboapp_dev_user:[REDACTED:password]@localhost:5432/hoboapp_dev?sslmode=disable
DATA_DIR=./data/var/hoboapp/data
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
COOKIE_SECURE=false
MAILGUN_API_KEY=
MAILGUN_SENDING_DOMAIN=
MAILGUN_FROM_ADDRESS=
MAILGUN_FROM_NAME=
REQUEST_ACCESS_ENABLED=false
ADMIN_CONTACT_EMAIL=
