DRYNN_CONFIG_PATH=./data/var/drynn/server.json
DRYNN_APP_ADDR=:8080
DRYNN_DATABASE_URL=postgres://drynn_dev_user:[REDACTED:password]@drynn.test:5432/drynn_dev?sslmode=disable
DRYNN_DATA_DIR=./data/var/drynn/data
DRYNN_JWT_ACCESS_TTL=15m
DRYNN_JWT_REFRESH_TTL=168h
DRYNN_COOKIE_SECURE=false
DRYNN_MAILGUN_API_KEY=
DRYNN_MAILGUN_SENDING_DOMAIN=
DRYNN_MAILGUN_FROM_ADDRESS=
DRYNN_MAILGUN_FROM_NAME=
DRYNN_REQUEST_ACCESS_ENABLED=false
DRYNN_ADMIN_CONTACT_EMAIL=
