*~
*.swp
tmp/

# dot env files
.env*
!.env
!.env.development
!.env.production
!.env.test

# agent files
.amp/
.claude/
.codex/

# IDE files
.code/
.idea/
.vscode/

# distribution files
data/
!site/data/

# build files and artifacts
.air.toml
Procfile.dev
bin/
web/sitepublic/

# agents like to run go build ./cmd/foo to test changes.
# this keeps us from accidentally checking in the binaries
db
!db/
email
!email/
server
!server/
