<p>A password reset was requested for your Drynn account.</p>
<p>Click the link below to choose a new password. This link expires in 30 minutes and can only be used once.</p>
<p><a href="{{.Link}}">{{.Link}}</a></p>
<p>If you didn't request this, you can ignore this email.</p>
